/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

	/*header start*/
header{
	padding: 5px 0;
	}
.logo{
	width: 65px;
}
.logo_h1 {
	font-size: 20px;
}	
.menu ul li a {
	padding: 0 5px 5px !important;
}
.btn_sign_in {
	margin-left: 0;
}
/*banner start*/
.banner{
	padding-bottom: 60px;
}
.b_text {
    text-align: center;
}
.b_h1 {
	margin: 10px 0 20px;
	font-size: 35px;
	line-height: 50px;
}
.b_p2{
	margin: 0;
	line-height: 30px;
}
.b_img {
	margin: 0 0 30px;
}
/*feature start*/
.c_padding{
	padding-bottom: 60px;
}
.f_content{
	margin: 30px 0 0;
}
/*course start*/
.cm_h1 {
    font-size: 25px;
}
.c_content{
	margin: 30px 0 0;
	padding: 20px 15px 20px;
}
.c_icon{
	width: 20px;
}
.c_text{
	font-size: 14px;
	font-weight: 400;
}
/*testimony start*/
.testimony {
	padding-bottom: 60px;
}
.t_item {
	margin-top: 30px;
}
.t_img {
	padding: 0 60px 20px;
}
.t_text {
	text-align: center;
}
/*footer top start*/
.footer_top{
	text-align: center;
	padding: 55px 0 20px;
}
.ft_details{
	margin-bottom: 35px;
	padding-right: 0;
}
.ft_links{
	margin-bottom: 35px;
}	
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
/*header start*/
header{
	padding: 5px 0;
	}
.logo{
	width: 65px;
}
.logo_h1 {
	font-size: 20px;
}	
.menu ul li a {
	padding: 0 5px 5px !important;
}
.btn_sign_in {
	margin-left: 0;
}
	
/*banner start*/
.banner{
	padding-bottom: 60px;
}
.b_text {
    text-align: center;
}
.b_h1 {
	margin: 10px 70px 20px;
	font-size: 50px;
	line-height: 50px;
}
.b_p2{
	margin: 0 30px;
	line-height: 30px;
}
.b_img {
	margin: 0 50px 30px;
}
/*feature start*/
.c_padding{
	padding-bottom: 60px;
}
.f_content{
	margin: 30px 0 0;
}
/*course start*/
.cm_h1 {
    font-size: 25px;
}
.c_content{
	margin: 30px 50px 0;
}

/*testimony start*/
.testimony {
	padding-bottom: 60px;
}
.t_item {
	margin-top: 30px;
}
.t_img {
	padding: 0 120px 20px;
}
.t_text {
	text-align: center;
}
/*footer top start*/
.footer_top{
	text-align: center;
}
.ft_details{
	margin-bottom: 35px;
	padding-right: 70px;
	padding-left: 70px;
}

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

	/*header start*/
	header{
	  padding: 10px 0;
	}
.menu ul li a {
	padding: 0 5px 5px !important;
}
.btn_menu {
	margin-left: 0;
}
/*banner start*/
.b_text {
    text-align: center;
}
.b_h1 {
	margin: 10px 150px 20px;
	font-size: 40px;
	font-weight: 700;
	color: var(--black);
	line-height: 65px;
}
.b_img {
	margin: 0 50px 30px;
}
/*feature start*/
.c_padding{
	padding-bottom: 80px;
}
.f_content{
	margin: 40px 0 0;
}
/*course start*/
.cm_h1 {
    font-size: 30px;
}
/*course start*/
.c_content{
	margin: 40px 100px 0;
}

/*testimony start*/
.testimony {
	padding-bottom: 80px;
}
.t_item {
	margin-top: 40px;
}
/*footer top start*/
.footer_top{
	text-align: center;
}
.ft_details{
	margin-bottom: 35px;
	padding-right: 80px;
	padding-left: 80px;
}

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
/*course start*/
.c_icon{
	width: 20px;
}
.c_text{
	font-size: 15px;
	font-weight: 400;
}
.lii:not(:last-child) {
	margin-right: -1px;
}
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
}

/*Extra extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {
.b_h1{
	margin: 10px 100px 20px 0;
}
/*footer top start*/
.ft_details {
	padding-right: 130px;
}
}