/*fonts links*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

/*common css start*/
:root{
	--bg_g: #e2fbe2;
	--red: #FD511A;
	--green: #21B573;
	--black:  #000000;
	--white: #ffffff;
	--pop: "Poppins", sans-serif;
	--rob: "Roboto", sans-serif;
}
body{
	font-family: var(--pop);
	font-size: 16px;
	font-weight: 400;
	color: var(--black);
}
/*common css end*/

/*header start*/
header{
	padding: 15px 0;
	background-color: var(--bg_g);
}
.nav_c{}
.logo{}
.n_btn{}
.menu{}
.menu ul li a{
	padding: 0 20px !important;
	color: var(--black) !important;
}
.menu ul li a:hover{
	color: var(--red) !important;
}
.btn_cm{
	background-color: var(--green);
	border-radius: 33px;
	font-family: var(--rob);
	color: var(--white);
}
.btn_menu{
	margin-left: 15px;
	padding: 12px 28px;
}
.btn_cm:hover{
	background-color: var(--red) ;
	color: var(--white);
}
.btn_cm:active{
	background-color: var(--red) !important;
	color: var(--white) !important;
}
/*header end*/
/*banner start*/
.banner{
	background-color: var(--bg_g);
	padding-bottom: 65px;
}

.b_text{}
.b_p1{
	color: var(--red);
}
.b_h1{
	margin: 10px 105px 20px 0;
	font-size: 48px;
    font-weight: 700;
    color: var(--black);
    line-height: 70px;
}
.b_h1 spam{
	color: var(--green);
}
.b_p2{
	line-height: 36px;
}
.btn_get{
	margin-top: 15px;
	padding: 12px 36px;
}

.b_img{}
/*banner end*/
/*feature start*/
.feature{}
.c_padding{
	padding-bottom: 100px;
}
.f_content{
	margin: 45px 0 0;
	padding: 50px 0;
	background-color: var(--bg_g);
	border-radius: 10px;
	transition: .33s linear;
}
.f-img{
	width: 75px;
	height: 80px;
}
.f_img img{}
.f_h2{
	margin: 20px 0 0;
	font-size: 24px;
	font-weight: 500;
	color: var(--black);
}
.f_p{}
.f_content:hover{
	background-color: var(--white);
	box-shadow: 0px 20px 40px 0px #0000001A;

}
/*feature end*/
/*course start*/
.course{}
.cm_title{}
.cm_h1{
	font-size: 36px;
    font-weight: 700;
    color: var(--black);
}

.c_content{
	margin: 60px 0 0;
	padding: 25px 20px 30px;
	border-radius: 10px;
	box-shadow: 0px 10px 40px 0px #0000001A;
}
.c_img{}
.c_img img{
	border-radius: 10px;
}
.c_h2{
	margin: 20px o 5px;
	font-size: 24px;
    font-weight: 500;
    color: var(--black);
}
.c_p{}
.btn_course{
	margin: 20px 0 35px;
	padding: 8px 28px;
}

.c_footer{}
.cf_right{}
.cf_left{}

.c_icon{}
.c_text{
	font-weight: 500;
}

.lii:not(:last-child) {
	margin-right: 3px;
}
/*course end*/

/*testimony start*/
.testimony{
	padding-bottom: 100px;
}

.t_item{
	margin-top: 65px;
}

.t_img{}
.t_img img{
	width: 100%;
}

.t_text{}
.t_text p{}
/*testimony end*/

/*footer top start*/
.footer_top{
	padding: 55px 0 55px;
	background-color: #282531;

}

.ft_details{
	padding-right: 120px;
}
.ft_details p{
	color: #FFFFFF;
	line-height: 30px;
}

.ft_links{}
.ft_links h2{
	font-size: 18px;
	font-weight: 700;
	color: #FFFFFF;
	line-height: 30px;
}

.ft_links ul li a{
	margin-bottom: 8px;
	display: block;
	color: white;
	text-decoration: none;
}
/*footer top end*/

/*footer start*/
footer{
	padding: 20px 0 30px;
background-color: #282531;
}
footer p{
    color: white;
    line-height: 30px;
}
footer p a{
    color: white; 
}
/*footer end*/